{
    "env": {
        "test": {
            "presets": ["env", "react"],
            "plugins": ["transform-export-extensions", "add-module-exports"],
            "only": [
                "./**/*.js",
                "node_modules/jest-runtime"
            ]
        }
    }
}