.StickyHeader,
.StickyFooter {
  /* flex: 0 0 auto; */
  background: red;
  width: 100%;
}

.StickyFooter {
  position: fixed;
}

.StickyContent {
  /* flex: 1 1 auto; */
  overflow-y: scroll;
  background: white;
  height: calc(100vh - 165px);
}

.three.wide.column {
  height: 25px;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.nav-link {
  text-decoration-color: white;
  font: white;
}
